.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navList {
  display: flex;
  flex: 1;
  margin: 0;
}

.navItem {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  padding: 0px 20px;
  text-decoration: none;
  color: var(--color);
}

.navItem:first-child {
  color: var(--red-color);
}

.navItem:hover {
  color: var(--red-color);
}

.navbarActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.toggleButton {
  all: unset;
  cursor: pointer;
  font-size: 22px;
  color: var(--color);
}

.toggleButton:hover {
  color: var(--red-color);
}

.signInLink {
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: var(--red-color);
  border-radius: 22px;
  padding: 10px 18px;
  transition: 0.4s;
  border: 1px solid var(--red-color);
}

.signInLink:hover,
.signInMobile:hover {
  background-color: var(--backGround-color-main);
  color: var(--red-color);
}

.mobileIcon {
  all: unset;
  font-size: 30px;
  display: none;
  color: var(--color);
}

.signInMobile {
  display: none;
  color: var(--color);
}

@media (max-width: 992px) {
  .navList,
  .signInLink {
    display: none;
  }

  .navListMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    left: 0;
    top: 85px;
    width: 100%;
    height: calc(100vh - 85px);
    background-color: var(--backGround-color-sec);
    position: fixed;
    z-index: 1;
    overflow: hidden;
  }

  .mobileIcon {
    position: relative;
    display: block;
    top: -1px;
    font-size: 30px;
  }

  .signInMobile {
    position: relative;
    display: block;
    margin-left: 10px;
    text-decoration: none;
    color: var(--color);
    font-weight: bold;
    background-color: var(--red-color);
    border-radius: 22px;
    padding: 10px 18px;
    transition: 0.4s;
    border: 1px solid var(--red-color);
  }
}

@media (max-width: 576px) {
  .navbar {
    gap: 20px;
  }
  .navbarActions {
    gap: 10px;
  }
}
