.bg {
    padding-top: 40px;
    background-color: var(--backGround-color-main);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 40px);
}

.content {
    color: var(--color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.icon {
    font-size: 180px;
    font-weight: bold;
    text-align: center;
}

.icon img {
    width: 35%;
    height: 35%;
    object-fit: cover;
}

.content h2 {
    text-align: center;
}

.content a {
    all: unset;
    background-color: var(--red-color);
    color: white;
    padding: 12px 25px;
    border-radius: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    border: 1px solid var(--red-color);
    transition: .3s;
    cursor: pointer;
    margin-top: 25px;
}

.content a:hover {
    background-color: var(--backGround-color-main);
    color: var(--red-color);
}

@media (max-width: 550px) {
    .icon {
        font-size: 130px;
    }
}