.bg {
    background-color: var(--backGround-color-main);
    padding: 70px 0;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.heading {
    color: var(--color);
    font-size: 55px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input, .form textarea {
    padding: 15px 25px;
    border-radius: 30px;
    background-color: var(--backGround-color-sec);
    color: var(--color);
    outline: none;
    border: 1px solid rgba(136, 136, 136, 0.39);
}

.form button{
    color: white;
    font-weight: bold;
    background-color: var(--red-color);
    border-radius: 25px;
    padding: 10px 20px;
    transition: 0.4s;
    border: 1px solid var(--red-color);
    width: fit-content;

}

.form button:hover {
    background-color: var(--backGround-color-main);
    color: var(--red-color);
}

.paragraph {
    color: var(--color);
}

.signupBtn {
    all: unset;
    margin-left: 5px;
    color: var(--red-color);
}

.signupBtn:hover {
    text-decoration: underline;
}

.sinInImage {
    width: 600px;
    height: 750px;
    border-radius: 25px;
    color: var(--color);
}

@media (max-width:992px) {
    .container {
        justify-content: center;
        gap: 0;
    }
    .sinInImage {
        display: none;
    }
}